/* *------------------------------------------
	Pagination
----------------------------------------------*/
.paginator 
{
	list-style-type: none;
	display: flex;
	justify-content: end;
}

.paginator li 
{
	margin: 0 4px;
}

.paginator li a
{
	display: block;
	padding: 6px;
	background-color: #e8e8e7eb;
	border-radius: 5px;
	color: #565555d6;
}

.paginator li:first-child a
{
	background-color: #c0c5d596;
}

/* -----------------------------------------------
	Couleur
----------------------------------------------*/
.text-bg-success {
	background-color: rgb(25,135,84);
}

.text-bg-danger
{
	background-color: rgb(220,53,69);
}

.text-grey 
{
	color: #949aa0;
}

.panel-grey {
	border-color: #949aa0;
}

.panel-grey > .panel-heading {
	border-color: #949aa0;
	color: white;
	background-color: #949aa0;
}

/* -----------------------------------------
tableaux
------------------------------------------- */

.table_filters 
{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.panel-body
{
	overflow: scroll;
}

.transaction-table 
{
	table-layout: auto;
	font-size: 13px;
}

table, table tr th, table tr td
{
	text-align: center;
}

#dataTables-example,
#dataTables-example th,
#dataTables-example td,
.cotisation-table,
.cotisation-table th
{
	text-align: center;
	vertical-align: middle;
}

.action-buttons {
	display: flex;
	justify-content: space-around;
}
